/*!
 * This file is part of the Sylius package.
 *
 * (c) Sylius Sp. z o.o.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.sylius-shop-loader {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    align-items: center;
    justify-content: center;
    z-index: 100;

    .spinner-dots {
        margin: auto 0;
        width: 100px;
        text-align: center;
    }

    .spinner-dots > div {
        border-radius: 100%;
        display: inline-block;
    }

    .spinner-dots .spinner-dot-1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .spinner-dots .spinner-dot-2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

    @-webkit-keyframes bouncedelay {
        0%, 80%, 100% {
            -webkit-transform: scale(0);
        }
        40% {
            -webkit-transform: scale(1.0);
        }
    }

    @keyframes bouncedelay {
        0%, 80%, 100% {
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        40% {
            -webkit-transform: scale(1.0);
            transform: scale(1.0);
        }
    }
}
